body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading1{
    text-align: center;
    font-size: 60px;
    color:saddlebrown;
    font-family: sans-serif;
    font-style:italic;
    
}
form{
    margin-top: 1rem;
    margin-left: 28rem;
    height:350px;
    width:600px;
    border: 2px solid gray;
}
.input-task{
    margin-top: 2rem;
    height: 60px;
    width:593px;
    font-size:20px;
    color:blueviolet;
    font-style: italic;
    
}
.task-label{
    
    margin-left:10px;
    color:gray;
    font-size:20px;
    font-weight: bolder;
    font-family: sans-serif;

}
.category{
    color:gray;
    font-size: 20px;
    font-weight: bolder;
    font-family: sans-serif;
    margin-top: 2rem;
    margin-left:10px;

}
.category-input{
    height: 60px;
    width:250px;
}
#person{
    font-size: 18px;
    font-style: italic;
    
}
#category-time-date{
    height: 90px;
    width:600px;
    border: 2px solid gray;
}