<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/Css/home.css">;
</head>
<body>
    <h1 class="heading1">TODO APP</h1>
    <form action="post"  >
    <div class="add-content" >
        <label class="task-label">DESCRIPTION</label><br>
        <input type='text'placeholder="what do you need to do?" class="input-task"><br>
        </div>
        <div id="catogery-time-date">

            <label class="category">CATEGORY</label>
            <select id="person">
             <option style="background-color: pink; color:gray">Choose an category</option>
             <option style="background-color: blue;">School</option>
             <option style="background-color: green;">Work</option>
             <option style="background-color: blueviolet;">Personal</option>
             <option style="background-color: red;">Other</option>
            </select>
        </div>

    </form>
</body>
</html>